html {
  scroll-behavior: smooth;
}
#topButton {
  font-weight: 900;
  color: white;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 10000; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #3E3E3E; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 60px;
  width:60px;/* Some padding */
  border-radius: 60px; /* Rounded corners */
  font-size: 30px;
  padding-top:10px; /* Increase font size */
}
#topButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
