html {
  scroll-behavior: smooth;
}
#chatButton {
  font-weight: 900;
  color: white;
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 10000; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #3E3E3E; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 60px;
  width:60px;/* Some padding */
  border-radius: 60px; /* Rounded corners */
  font-size: 30px;
  padding-top:10px; /* Increase font size */
}
#chatWindow{
  position: fixed;
  width: 400px;
  height: 600px;
  background-color: #B6D0E2;
  bottom: 150px;
  right: 120px;
  z-index: 10000;
  border-radius: 30px;
  text-align: center;
  display: none;
}
#questionBox{
  position:absolute;
  bottom:10px;
  height: 40px;
  width: 70%;
  font-size: 18px;
  text-align: center;
  left: 30px;
  border-radius: 10px;
}
#send{
  position:absolute;
  bottom:12px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
}
#send:hover{
  background-color: #F2F3F5;
  cursor: pointer;
}
#sendImg{
  margin-left: -3px;
  height: 25px;
  width: 25px;
}
#question{
  position: absolute;
  color: black;
  bottom: 60px;
  left: 30px;
  text-align: left;
  font-size: 24px;
  font-family: sans-serif;
}
