html {
  scroll-behavior: smooth;
}
#chatButton {
  font-weight: 900;
  color: white;
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 10000; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #3E3E3E; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 60px;
  width:60px;/* Some padding */
  border-radius: 60px; /* Rounded corners */
  font-size: 30px;
  padding-top:10px; /* Increase font size */
}
#chatWindow{
  position: fixed;
  width: 400px;
  height: 600px;
  background-color: #B6D0E2;
  bottom: 150px;
  right: 120px;
  z-index: 10000;
  border-radius: 30px;
  text-align: center;
  display: none;
}
#questionBox{
  height: 40px;
  width: 80%;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
